<!DOCTYPE HTML>
<html>
    <head>
        <script src="./codebase/webix/webix.js" type="text/javascript"></script>
        <script src="./codebase/pivot.js" type="text/javascript"></script>

        <script src="../structures/<%= data %>.js" type="text/javascript"></script>
        <script src="../layout/views.js" type="text/javascript"></script>
        <script src="../layout/http_request.js" type="text/javascript"></script>

        <link rel="stylesheet" href="./codebase/webix/webix.css" type="text/css" charset="utf-8">
        <link rel="stylesheet" href="./codebase/pivot.css" type="text/css" charset="utf-8">
    </head>
    <body>
        <script>
            webix.ui({
                rows:[
                    table_select,
                    {cols:[
                        pivot,
                        {view: "resizer"},
                        list
                    ]}
                ]
            });

            var home = "http://localhost:9292/"

            //loads table options
            var url = "http://localhost:9292/list"
            http_request(url, function() {
                $$("tables").define("options", data)
            });

            if (typeof structures == "undefined") { structures = "" };
            
            //loads stuctures
            $$("structures").define("data", structures) 

            //change table on submit
            $$("submit").attachEvent("onItemClick", function(id, e){
                window.location.replace(home.concat("pivot/", $$("tables").getValue()))    
            });

            //loads data
            var url= home.concat("data/","<%= data %>");
            http_request(url, function() {
                $$("pivot").parse(data)
            });

            //listens for structure changes
            $$("structures").attachEvent("onItemClick", function(id) {
                var str = webix.copy(this.getItem(id).structure);
                $$("pivot").setStructure(str);
            });
        </script>
    </body>
</html>
