<!DOCTYPE HTML>  
<html>
    <head>
        <script src="./pivot/codebase/webix/webix.js" type="text/javascript"></script> 
        <script src="./pivot/codebase/pivot.js" type="text/javascript"></script>

         <link rel="stylesheet" href="./pivot/codebase/webix/webix.css" type="text/css" charset="utf-8">
         <link rel="stylesheet" href="./pivot/codebase/pivot.css" type="text/css" charset="utf-8"> 
    </head>
    <body>
        <script>
            webix.ui({
                rows:[
                { 
                    view:"list",
                    id: "list",
                    dynamic:true,
                    width:320,
                    height:600,
                    select: 1,
                    template:"#name#",
                    data:[
                        {"name": "your_mom", "id": "pivot/galileo"}, 
                        {"name": "joe_boy", "id": "pivot/time"}
                    ]
                }
                ] 
            })

            $$("list").attachEvent("onAfterSelect", function (id) {
                console.log($$("list").getSelectedItem())
                window.location.replace($$("list").getSelectedItem().id);
            })

        </script>
    </body>
</html>
