<!DOCTYPE HTML>
<html>
    <head>
        <link rel="stylesheet" href="./css/webix.css" type="text/css">
        <script src="./js/webix.js" type="text/javascript"></script>
    </head>
    <body>
        <h1> Joe is cool </h1>
        <script type="text/javascript" charset="utf-8">
            webix.ui({
                type:"line",
                rows: [
                    { template:"Row 1" },
                    { template:"Row 2" },
                    { template:"Row 3" }
                ]
            });
    </script>
    </body>
</html>
