<!DOCTYPE HTML>
<html>
    <head>
        <script src="./pivot/codebase/webix/webix.js" type="text/javascript"></script>
        <script src="./pivot/codebase/pivot.js" type="text/javascript"></script>

        <link rel="stylesheet" href="./pivot/codebase/webix/webix.css" type="text/css" charset="utf-8">
        <link rel="stylesheet" href="./pivot/codebase/pivot.css" type="text/css" charset="utf-8">
    </head>
    <body>
        <div id="testA">
            <script type="text/javascript" charset="utf-8">
                var parser = webix.Date.strToDate("%Y.%m.%d");
                var un_parser = webix.Date.dateToStr("%Y.%m.%d");

                webix.ui({
                    rows: [
                    //Date pickers
                        { 
                            view: "daterangepicker", 
                            label: "Time: ", 
                            width: 350,
                            id:"start",
                            value: "" 
                        }, 
                    /////////////////
                    // pivot table
                    {
                        id:"pivot",
                        view:"pivot",
                        max: true,
                        structure: {
                            rows: ["name"],
                            values: [
                                {name: "weight", operation: "time_avg"}
                            ]
                        },
                    },
                    ///////////////
                    ]
                });

                //data range updater

                var start = new Date(); 

                $$("start").attachEvent("onChange",function(ev){
                    start = $$('start').getValue().start;
                    $$("pivot").refresh();
                });

                var end = new Date(); 

                $$("start").attachEvent("onChange",function(ev){
                    end = $$('start').getValue().end;
                    $$("pivot").refresh();
                });
                ///////////////////


                // time average operation
                $$("pivot").operations.time_avg = function(data) {
                    if (typeof data[0][0] == 'undefined') {
                        return "NaN";
                    } else {
                        data = data[0];
                        var sum = 0.0;
                        var length = 0;
                        for (var i = 0; i < data.length; i++) {
                            var num = window.parseFloat(data[i].value, 10);
                            if (!window.isNaN(num) && 
                                (parser(data[i].time) >= start) && (parser(data[i].time) <= end)) {
                                sum += Math.abs(num);
                                length += 1;
                            }
                        }
                        return sum/length;
                    }
                };
                /////////////////////

                //data request and init
                var data_frame = null
                var url='http://localhost:9292/time_data';
                var data = new XMLHttpRequest();
                data.open("GET", url, true);
                data.send();

                data.onreadystatechange = (e) => {
                    if (data.readyState == 4) {
                        data_frame = JSON.parse(data.response);
                        $$("pivot").parse(data_frame);
                        $$("start").setValue({
                            start: parser(data_frame[0].weight[0].time), 
                            end: parser(data_frame[1].weight[data_frame[0].weight.length - 1].time), 
                        });
                    }
                }
                /////////////////////////////
            </script>
        </div>
    </body>
</html>
